/* This is an example to ensure the link of the CSS */
.siteTitle {
	color: blue;
}

.signup-button{
	position:absolute;
	background-color: white;
	top: 15px;
	right:110px;
	height: 40px;
	width: 80px;
	border-radius: 10%;
  }

  .login-button{
	position:absolute;
	background-color: #BBBBBB;
	top: 15px;
	right:20px;
	height: 40px;
	width: 80px;
	border-radius: 10%;
  }
 