.navbar{
    height: 75px;
    background-color: #4AD3AE;
}

.comet-title{
    color: black;
	position: relative;
	left: 550px;
	top: 18px;
    font-size: 30px;
}

.register-title{
    color: black;
	position: relative;
	padding-bottom: 40px;
    font-size: 30px;
}

.login-title{
    color: black;
	position: relative;
    padding-bottom: 40px;
    font-size: 30px;
}


.siteTitle{
    color: black;
	position: relative;
	left: 300px;
	top: 230px;
    font-size: 30px;
}

p{
	color: black;
	position: relative;
	left: 300px;
	top: 280px;
}

.learn-more-button{
  position:absolute;
	background-color: #4AD3AE;
	top: 330px;
	right: 220px;
	height: 40px;
	width: 140px;
	border-radius: 8%;

}

.container{
    height: 85vh;
    width: 100vw;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.signup-button{
  color: white;
	position:absolute;
	background-color: WHITE;
	top: 15px;
	right:20px;
	height: 40px;
	width: 80px;
	border-radius: 10%;
	border-color: #3C3760;



  }

  .login-button{
    position:absolute;
	background-color: white;
	top: 15px;
	right:110px;
	height: 40px;
	width: 80px;
	border-radius: 10%;
  border-color: #3C3760;
  }

  

.login {
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .namebox{
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15%;
  }

  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 30px;
  }

  .login__textBox {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15%;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15%;
    border: none;
    color: white;
    background-color: #4AD3AE;
  }
  .register_btn{
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15%;
    border: none;
    color: white;
    background-color: #4285f4;
  }
  .login__google {
    background-color: #4285f4;
  }
  .login div {
    margin-top: 7px;
  }

  .bottom-nav{
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    background-color:#3C3760;
  
  }

  .move-image{
    position: relative;
    left:-200px;
    }
    .welcome-message{
      color: black;
      font-size: 22px;
      font-family: 'Montserrat';
      position: relative;
      top: -150px;
      left: -85px;
    }
    
.join-quiz-image{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-190px;  
  margin-left:-350px; 
}



