.navbar{
    height: 75px;
    background-color: #4AD3AE;
}

.comet-title{
    color: black;
	position: relative;
	left: 550px;
	top: 18px;
    font-size: 30px;
}

.register-title{
    color: black;
	position: relative;
	padding-bottom: 40px;
    font-size: 30px;
}

.login-title{
    color: black;
	position: relative;
    padding-bottom: 40px;
    font-size: 30px;
}


.siteTitle{
    color: black;
	position: relative;
	left: 300px;
	top: 230px;
    font-size: 30px;
}

p{
	color: black;
	position: relative;
	left: 300px;
	top: 280px;
}

.learn-more-button{
  position:absolute;
	background-color: #4AD3AE;
	top: 330px;
	right: 220px;
	height: 40px;
	width: 140px;
	border-radius: 8%;

}

.container{
    height: 85vh;
    width: 100vw;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

.signup-button{
  color: white;
	position:absolute;
	background-color: WHITE;
	top: 15px;
	right:20px;
	height: 40px;
	width: 80px;
	border-radius: 10%;
	border-color: #3C3760;



  }

  .login-button{
    position:absolute;
	background-color: white;
	top: 15px;
	right:110px;
	height: 40px;
	width: 80px;
	border-radius: 10%;
  border-color: #3C3760;
  }

  

.login {
    height: 60vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .namebox{
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15%;
  }

  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding: 30px;
  }

  .login__textBox {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15%;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15%;
    border: none;
    color: white;
    background-color: #4AD3AE;
  }
  .register_btn{
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 15%;
    border: none;
    color: white;
    background-color: #4285f4;
  }
  .login__google {
    background-color: #4285f4;
  }
  .login div {
    margin-top: 7px;
  }

  .bottom-nav{
    position:fixed;
    left:0px;
    bottom:0px;
    height:70px;
    width:100%;
    background-color:#3C3760;
  
  }

  .move-image{
    position: relative;
    left:-200px;
    }
    .welcome-message{
      color: black;
      font-size: 22px;
      font-family: 'Montserrat';
      position: relative;
      top: -150px;
      left: -85px;
    }
    
.join-quiz-image{
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-190px;  
  margin-left:-350px; 
}

.join-box{
  background:#3C3760;
  border: solid 1pt black;
  margin:30 px 10px;
  padding:70px;
   
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-50px;  
  margin-left:-240px;
}

.logo-corner{
  position:absolute;
  top:50%;
  left:50%;
  width: 120px;
  height:100px;
  margin-top:-350px;  
  margin-left:-930px;
}


.join__textBox {
  width: 300px;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5%;
  background-color: #4AD3AE;
 
}

.question-box{
  margin-top: 60px;
  height: 1000px;
  width: 500px;
    /*display: flex;*/
  align-items: center;
  justify-content: center;
  background-color:white; 
}

.question{
  width: 800px;
  height: 80px;
  padding: 20px;
  font-size: 30px;
  margin-top: 10px;
  margin-left: 130px;;
  border-radius: 5%;
  background-color:  lightblue;
  color: white;
}

.answer1{
  width: 300px;
  height: 100px;
  padding: 5px;
  float: left;
  margin-top: 50px;
  margin-left:360px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: lawngreen;
  color: white;
}

.answer2{
  width: 300px;
  height: 100px;
  padding: 5px;
  float: left;
  margin-top: 20px;
  margin-left: 360px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
}

.answer3{
  width: 300px;
  height: 100px;
  padding: 5px;
  float: left;
  margin-top: 20px;
  margin-left: 360px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color:red;
  color: white;
}

.answer4{
  width: 300px;
  height: 100px;
  padding: 5px;
  float: left;
  margin-top: 20px;
  margin-left: 360px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: red;
  color: white;
}

.save_textbox{
  width: 90px;
  height: 40px;
  margin-top: 20px;
  margin-left: 460px;
  background-color: #99edc3;
}

.finish_button{
  width: 90px;
  height: 40px;
  margin-top: 20px;
  margin-left: 460px;
  background-color: #e4e7eb;
}

.join-quiz-button{
  position:absolute;
	background-color: #4AD3AE;
	top: 400px;
	right: 220px;
	height: 40px;
	width: 140px;
	border-radius: 8%;
}


.select-box{
  margin-top: 10px;
  height: 70vh;
  width: 85vw;
    /*display: flex;*/
  align-items: center;
  justify-content: center;
  background-color:white; 
}
.select1{
  width: 400px;
  height: 350px;
  padding: 5px;
  float: left;
  margin-top: 0px;
  margin-left:200px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #1E90FF;
  color: white;
}

.select2{
  width: 400px;
  height: 350px;
  padding: 5px;
  float: left;
  margin-top: 0px;
  margin-left: 100px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #FFB612;
  color: white;
}

.select3{
  width: 400px;
  height: 350px;
  padding: 5px;
  float: left;
  margin-top: 400px;
  margin-left: -900px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color:#1D4231;
  color: white;
}

.select4{
  width: 400px;
  height: 350px;
  padding: 5px;
  float: left;
  margin-top: 400px;
  margin-left: -400px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #C60C30;
  color: white;
}

.edits_box{
  background-color: gray;
  margin-top: 100px;
  margin-left: 100px;;
  height: 600px;
  width: 1000px;

}


.start_quiz_button{
  margin-top: 50px;
  margin-left: 80px;
  background-color: #4AD3AE;
}

.time_per_question{
  margin-top: 10px;
  margin-left: 100px;
  float: left;
  height: 80px;
  width: 100px;
  font-size: 30px;
  background-color: lightblue;
}


.points_per_question{
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 10px;
  height: 80px;
  width: 100px;
  font-size: 30px;
  background-color: lightblue;
}

.seconds_text{
  margin-left: 380px;
  margin-top: 60px;
  width: 340px;
  font-size: 30px;
  float: left;
  font-weight: bold;
}

.points_text{
  margin-left: 380px;
  margin-top: 70px;
  width: 340px;
  font-size: 30px;
  float: left;
  font-weight: bold;
}